<section class="features">
    <article id="campaign">
        <h3>Campaign Control</h3>
        <div></div>
    </article>
    <article id="mission">
        <h3>Mission Publishing</h3>
        <div></div>
    </article>
    <article id="map">
        <h3>Map Integration</h3>
        <div></div>
    </article>
    <article id="community">
        <h3>Community Hub</h3>
        <div></div>
    </article>
    <div class="reveal">
        <div class="content" href="#campaign">
            <div class="image campaign"></div>
            <div class="gubbins">
                <h4>Campaign Control</h4>
                <h5>Want to make your campaigns easier to manage?</h5>
                <p>Allow yourself to make YOUR campaigns easier to manage, by building your community and operational campaigns online and be shared freely whereever you see fit. Calling an end to annoying and repeated forum updates.</p>
            </div>
        </div>
        <div class="content" href="#mission">
            <div class="image mission"></div>
            <div class="gubbins">
                <h4>Mission Publishing</h4>
                <h5>What to keep YOUR community informed of any mission updats and changes easily and quickly?</h5>
                <p>Let them see everything about the upcoming missions, whether you plan 1 week and 1 year ahead. Get rid of these pesky Private Messages, let us do it all for you with a few clicks.</p>
            </div>
        </div>
        <div class="content" href="#map">
            <div class="image map"></div>
            <div class="gubbins">
                <h4>Map Integration</h4>
                <h5>Sick and tired of getting screenshots and posting them online?</h5>
                <p>The ARMA Campaign Manager integrates custom maps to allow you to easily drop in markers and information about objectives, giving you back your free time to actually play ARMA.</p>
            </div>
        </div>
        <div class="content" href="#community">
            <div class="image community"></div>
            <div class="gubbins">
                <h4>Community Hub</h4>
                <h5>Want to keep your community organised?</h5>
                <p>ARMA Community Manager can keep you quickly update your own fighting men and women. Bringing them back into the communication loop. We can even let you get in touch with other like minded communities.</p>
            </div>
        </div>
    </div>
</section>