@import '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css';

@import "_definitions/fonts";
@import "_mixins/mixin";
@import "_definitions/colors";

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 100%;
  min-width: 320px;
  h1, h2, h3, h4, h5, h6 {
    font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  }
  h1 {
    font-size: 225%;
    margin: 10px 0;
    font-weight: 700;
  }
  h2 {
    font-size: 200%;
    margin: 8px 0;
    font-weight: 700;
  }
  h3 {
    font-size: 175%;
    margin: 7px 0;
    font-weight: 700;
  }
  h4 {
    font-size: 135%;
    margin: 5px 0;
    font-weight: 700;
  }
  h5 {
    font-size: 95%;
    margin: 3px 0;
    font-weight: 700;
  }
  h6 {
    font-size: 87%;
    margin: 2px 0;
    font-weight: 700;
  }
  ul {
    list-style: none;
  }
  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include background_full(repeat-y);
    background-image: url('/assets/images/backgrounds/arma_blank.jpg');
    z-index: -1;
  }
  .welcome {
    width: 100%;
    //@include background_transparent(0, 0, 0, 0.7);
    padding: 5rem 0;
    color: $default_body_color;
    .header-logo {
      position: relative;
      margin: 1rem 0;
      .stripe {
        height: 202px;
        border-bottom: 20px solid $default_body_color;
      }
      .arma-logo {
        background: url('/assets/images/logos/arma3.png') no-repeat center center transparent;
        background-size: contain;
        height: 202px;
        width: 33.333%;
        position: relative;
      }
    }
    &.dashboard,
    &.settings {
      .arma-logo {
        height: 120px;
        width: 33.333%;
      }
      .stripe {
        height: 120px;
        border-bottom: none;
      }
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    padding: 1rem 0.5rem;
    width: 100%;
    color: $default_body_color;
    @include background_transparent(0, 0, 0, 0.7);
  }
}