
@mixin background_full($repeat) {
  background-position: center center;
  background-color: #000;
  background-size: contain;
  background-repeat: $repeat;
}

@mixin background_transparent($red, $green, $blue, $trans) {
  background-color: rgba($red, $green, $blue, $trans);
}