<div class="container-fluid dashboard">
    <header>
        <nav>
            <ul>
                <li><a>Campaigns</a></li>
                <li><a>Community</a></li>
                <li><a>Maps</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <h2>Dashboard</h2>
        <section>
            <article>
                <h3>Current Campaign</h3>
            </article>
            <article>
                <h3>Latest Mission</h3>
            </article>
            <article>
                <h3>Some Stuff</h3>
            </article>
            <article>
                <h3>Latest Community Updates</h3>
            </article>
        </section>
    </div>
</div>