<div class="container-fluid dashboard">
    <header>
        <nav>
            <ul>
                <li><a href="#">Campaigns</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Maps</a></li>
                <li class="pull-right"><a>Welcome {{user.name}}</a></li>
            </ul>
        </nav>
    </header>
    <div class="dashboard-panel">
        <h2>Dashboard of {{community.profile.name}}<span class="pull-right">Members: {{community.totalMembers}}</span></h2>
        <section>
            <article current-campaign community="community.id"></article>
            <article>
                <h3>Latest Mission</h3>
            </article>
            <server-status></server-status>
            <article>
                <h3>Latest Community Updates</h3>
            </article>
        </section>
    </div>
</div>