@import '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,300,300italic&subset=latin,latin-ext");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 100%;
  min-width: 320px; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Titillium Web", Helvetica, Arial, sans-serif; }
  body h1 {
    font-size: 225%;
    margin: 10px 0;
    font-weight: 700; }
  body h2 {
    font-size: 200%;
    margin: 8px 0;
    font-weight: 700; }
  body h3 {
    font-size: 175%;
    margin: 7px 0;
    font-weight: 700; }
  body h4 {
    font-size: 135%;
    margin: 5px 0;
    font-weight: 700; }
  body h5 {
    font-size: 95%;
    margin: 3px 0;
    font-weight: 700; }
  body h6 {
    font-size: 87%;
    margin: 2px 0;
    font-weight: 700; }
  body .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-color: #000;
    background-size: cover;
    background-repeat: repeat-y;
    background-image: url("/assets/images/backgrounds/arma_blank.jpg");
    z-index: -1; }
  body .welcome {
    width: 100%;
    padding-bottom: 20px;
    color: white; }
    body .welcome .header-logo {
      position: relative;
      margin: 1rem 0; }
      body .welcome .header-logo .stripe {
        height: 202px;
        border-bottom: 20px solid white; }
      body .welcome .header-logo .arma-logo {
        background: url("/assets/images/logos/arma3.png") no-repeat center center transparent;
        background-size: contain;
        height: 202px;
        width: 33.333%;
        position: relative; }
  body .footer {
    position: fixed;
    bottom: 0;
    padding: 1rem 0.5rem;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); }

.form-group {
  width: 100%;
  margin: 0.5rem 0; }

input {
  padding: 0.5rem 1rem;
  width: 100%;
  color: rgba(0, 0, 0, 0.8); }
  input[type=submit] {
    width: auto; }

.container-fluid.nav {
  padding: 0; }

nav.navbar.navbar-default {
  background-color: rgba(0, 0, 0, 0.7);
  border: none; }
  nav.navbar.navbar-default a.navbar-brand {
    color: #c48214;
    font-weight: 700;
    text-indent: 2.5rem;
    position: relative; }
    nav.navbar.navbar-default a.navbar-brand span.arma {
      position: absolute;
      left: 0.5rem;
      top: 0.5rem;
      display: inline-block;
      width: 35px;
      height: 35px;
      background-image: url("/assets/images/sprites/icon_sprite.png");
      background-position: 0px -595px; }
    nav.navbar.navbar-default a.navbar-brand:hover {
      text-decoration: none;
      cursor: pointer; }

nav .navbar-header {
  margin: 7px 0;
  padding: 0 1rem;
  width: auto;
  min-width: 13%; }

.navbar {
  margin: 0; }
  .navbar .container-fluid {
    padding: 0; }

.navbar-nav {
  margin: 0; }
  .navbar-nav > li {
    position: relative;
    margin: 0 1px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-right: 2px solid #111111; }
    .navbar-nav > li a {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px; }
      .navbar-nav > li a:hover {
        background-color: #c48214 !important; }
      .navbar-nav > li a span {
        background: url("/assets/images/sprites/icon_sprite.png") no-repeat center center transparent;
        width: 35px;
        height: 35px;
        display: block; }
        .navbar-nav > li a span.home {
          background-position: 0px -665px; }
        .navbar-nav > li a span.about {
          background-position: 0px -453px; }
        .navbar-nav > li a span.contact {
          background-position: 0px -386px; }
        .navbar-nav > li a span.dashboard {
          background-position: -70px -210px; }
        .navbar-nav > li a span.settings {
          background-position: 0px -172px; }

.navbar-collapse {
  position: relative;
  width: 100%; }
  .navbar-collapse ul.nav {
    width: 78.1%; }
  .navbar-collapse ul > li.navbar-status {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    border: none;
    background: url("/assets/images/icons/account_btn_icon.png") no-repeat 8% 50% #3e5b79; }
    .navbar-collapse ul > li.navbar-status .auth {
      width: 70%;
      margin-left: 3.5rem;
      padding: 9.5px 5px;
      display: inline-block; }
      .navbar-collapse ul > li.navbar-status .auth.dashboard {
        margin-left: 0;
        width: 10%;
        display: inline-block; }
      .navbar-collapse ul > li.navbar-status .auth a {
        display: inline-block;
        width: 100%; }
        .navbar-collapse ul > li.navbar-status .auth a:hover {
          background: transparent !important; }
      .navbar-collapse ul > li.navbar-status .auth.login:hover {
        background-color: #2f475f; }
        .navbar-collapse ul > li.navbar-status .auth.login:hover a:hover {
          background: transparent; }
      .navbar-collapse ul > li.navbar-status .auth.logout:hover {
        background-color: #2f475f; }
        .navbar-collapse ul > li.navbar-status .auth.logout:hover a:hover {
          background: transparent; }
    .navbar-collapse ul > li.navbar-status > div a {
      color: white; }
      .navbar-collapse ul > li.navbar-status > div a:hover {
        text-decoration: none;
        cursor: pointer; }

.login {
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .login h1 {
    text-align: center; }

.home {
  width: 100%; }
  .home header h1 {
    text-align: center; }
  .home h2 {
    text-align: center;
    font-size: 600%; }
  .home .features {
    width: 100%;
    margin: 3rem 0;
    text-align: center; }
    .home .features article {
      width: 20%;
      height: 100px;
      display: inline-block;
      background-color: #252525;
      box-shadow: black 0 0 25px;
      border: 2px solid rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      margin: 0 1rem;
      position: relative;
      vertical-align: middle; }
      .home .features article:hover {
        cursor: pointer; }
      .home .features article h3 {
        font-size: 150%;
        padding: 1.75rem 0; }
    .home .features .reveal {
      width: 87.5%;
      margin: 0 auto;
      position: relative;
      height: 165px;
      top: 1rem;
      background: black;
      display: none;
      vertical-align: top;
      text-align: left; }
      .home .features .reveal .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        padding: 2rem 1rem; }
        .home .features .reveal .content .image {
          width: 200px;
          height: 100px;
          display: inline-block;
          margin-right: 1rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain; }
          .home .features .reveal .content .image.campaign {
            background-image: url("/assets/images/backgrounds/featured_campaign.jpg"); }
          .home .features .reveal .content .image.mission {
            background-image: url("/assets/images/backgrounds/featured_mission.jpg"); }
          .home .features .reveal .content .image.map {
            background-image: url("/assets/images/backgrounds/featured_map.jpg"); }
          .home .features .reveal .content .image.community {
            background-image: url("/assets/images/backgrounds/featured_community_white.png"); }
        .home .features .reveal .content .gubbins {
          display: inline-block;
          vertical-align: top;
          width: 80%; }
          .home .features .reveal .content .gubbins h5 {
            margin: 1rem 0; }
          .home .features .reveal .content .gubbins p {
            font-style: italic; }

.container-fluid.dashboard {
  width: 75%;
  margin: 0 auto;
  position: relative; }

/*
  Breakpoints
  480px, 768px, 960px, & 1280px but they have minor breakpoints at 1440px and 1600px.

*/
@media all and (max-width: 30em) {
  .navbar-collapse {
    padding: 0; }
    .navbar-collapse ul.nav {
      width: 100%;
      overflow: hidden; }
    .navbar-collapse ul > li {
      width: 100%; }
      .navbar-collapse ul > li.navbar-status {
        position: relative;
        width: 100%;
        right: 0; }
        .navbar-collapse ul > li.navbar-status .auth {
          margin-left: 5rem;
          width: 77%; }
          .navbar-collapse ul > li.navbar-status .auth a {
            width: 100%; }
  body .welcome {
    padding-bottom: 2rem; }
    body .welcome .header-logo .arma-logo {
      height: 75px; }
  .container-fluid.home {
    padding: 0; }
    .container-fluid.home h2 {
      font-size: 500%; }
    .container-fluid.home .features article {
      width: 100%;
      margin: 0 0 1rem; }
    .container-fluid.home .features .reveal {
      width: 100%;
      height: auto; }
      .container-fluid.home .features .reveal .content {
        position: relative; }
        .container-fluid.home .features .reveal .content .image {
          width: 100%;
          margin: 0; }
        .container-fluid.home .features .reveal .content .gubbins {
          width: 100%; }
  .footer {
    font-size: 75%; } }

@media all and (min-width: 30em) and (max-width: 48em) {
  .navbar-collapse {
    overflow: hidden; }
    .navbar-collapse ul.nav {
      overflow: hidden;
      width: 92%; }
  body .welcome .header-logo .arma-logo {
    height: 100px; } }

@media all and (min-width: 48em) and (max-width: 60em) {
  body .welcome .header-logo .stripe {
    display: none; }
  body .welcome .header-logo .arma-logo {
    height: 140px; }
  body .container-fluid.home {
    padding: 0; }
    body .container-fluid.home h2 {
      font-size: 500%; }
    body .container-fluid.home .features article {
      width: 45%;
      margin: 0 1rem 1rem; }
    body .container-fluid.home .features .reveal {
      width: 100%;
      height: auto; }
      body .container-fluid.home .features .reveal .content {
        position: relative; }
        body .container-fluid.home .features .reveal .content .image {
          width: 100%;
          margin: 0; }
        body .container-fluid.home .features .reveal .content .gubbins {
          width: 100%; }
  .navbar-collapse ul.nav {
    width: auto; }
    .navbar-collapse ul.nav > li.navbar-status {
      width: 20%; } }

@media all and (min-width: 20em) and (max-width: 61.938em) {
  .welcome .header-logo .stripe {
    display: none; }
  .welcome .header-logo .arma-logo {
    margin: 0 auto; }
  .navbar-collapse ul.nav {
    width: auto; }
    .navbar-collapse ul.nav > li.navbar-status {
      width: 20%; } }

@media all and (min-width: 60em) and (max-width: 80em) {
  body .container-fluid.home {
    padding: 0; }
    body .container-fluid.home h2 {
      font-size: 500%; }
    body .container-fluid.home .features article {
      width: 45%;
      margin: 0 1rem 1rem; }
    body .container-fluid.home .features .reveal {
      height: auto; }
      body .container-fluid.home .features .reveal .content {
        position: relative; }
        body .container-fluid.home .features .reveal .content .image {
          width: 20%; }
        body .container-fluid.home .features .reveal .content .gubbins {
          width: 75%; }
  .navbar-collapse ul.nav {
    width: auto; }
  .navbar-collapse ul > li.navbar-status {
    width: 20%; } }

@media all and (min-width: 80em) and (max-width: 90em) {
  .navbar-collapse ul.nav {
    width: 70%; } }
