@import 'https://fonts.googleapis.com/css?family=Sarpanch:400,500,600,700,800,900&subset=devanagari,latin-ext';
@import '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css';
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Sarpanch', sans-serif;
  font-size: 100%;
  min-width: 320px; }
  body h1 {
    font-size: 225%;
    margin: 10px 0;
    font-weight: 700; }
  body h2 {
    font-size: 200%;
    margin: 8px 0;
    font-weight: 700; }
  body h3 {
    font-size: 175%;
    margin: 7px 0;
    font-weight: 700; }
  body h4 {
    font-size: 135%;
    margin: 5px 0;
    font-weight: 700; }
  body h5 {
    font-size: 95%;
    margin: 3px 0;
    font-weight: 700; }
  body h6 {
    font-size: 87%;
    margin: 2px 0;
    font-weight: 700; }
  body .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/assets/images/backgrounds/arma_3_logo_black.png"); }
  body .welcome {
    position: fixed;
    height: 85%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    color: #FFF; }
  body .footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 0.5rem;
    width: 100%;
    color: #FFF; }

nav.navbar.navbar-default {
  background-color: #000;
  border-color: #666; }
  nav.navbar.navbar-default a {
    color: #FFF; }
    nav.navbar.navbar-default a.navbar-brand {
      color: #FFF; }

.navbar-collapse {
  position: relative; }
  .navbar-collapse ul.nav {
    width: 80%; }
  .navbar-collapse ul > li.navbar-status {
    position: absolute;
    right: 3%;
    top: 0.5rem;
    display: inline-block;
    width: auto;
    vertical-align: middle; }
    .navbar-collapse ul > li.navbar-status > div a {
      color: #FFF; }
      .navbar-collapse ul > li.navbar-status > div a:hover {
        text-decoration: none; }
