
$default_body_color: #FFF;
$nav_default_text_color: #FFF;
$menu_border_color: #CCC;
$menu_text_color: #CCC;
$menu_item_border_color: #111;

$auth_button_background_light: rgb(62, 91, 121);
$auth_button_background_dark: rgb(47, 71, 95);

$form_input_color: rgba(0, 0, 0, 0.8);
$arma_orange: rgb(196, 130, 20);